.icon-divs:hover{
  cursor: pointer;
}

.faq-boxes:hover{
  cursor: pointer;
}

.slot-boxes:hover{
  cursor: pointer;
}

.continue-button:hover{
  cursor: pointer;
}

.custom-input {
  border: none;
  outline: none;
  background-color: transparent;
  height: 1rem;
  border-bottom: 1px solid black;
  margin-top: 1rem;
}

.home-page-links:hover{
  cursor: pointer;
}

.home-page-links{
  height: 4rem;
  background-color: aliceblue;
  border-radius: 10px;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.home-page-main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.nav-link{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

button:hover{
  cursor: pointer;
}